<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="./img/digital-marketing.png" />
    <title>About</title>
</head>

<body>
    <%- include('_nav_bar') %>
        <div class="purpose-container learn">
            <h2>About</h2>
            <p class="purpose-text learn">
                OurMoment is a platform that allows indiviudals to post their
                thoughts, experiences, or news to our publicly viewable forum.
                Users from around the world will have the option to post their location with their message, allowing
                other users in the area to see what is going on.
            </p>
        </div>
</body>

</html>