<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/style.css" />
        <title>Home</title>
    </head>
    <body>
        <%- include('_nav_bar') %>
        <div class="body-container">
            <h2>Explore the World</h2>
            <h3>Update or check out moments around the world</h3>
            <div class="button-container">
                <a href="/map" class="view-map">View Map</a>
                <a href="/map/post" class="create-post">Create Post</a>
            </div>
        </div>

        <div class="info-container">
            <div class="card">
                <img src="./img/undraw_researching_22gp.svg" alt="" />
                <h4>Learn</h4>
                <p>
                    Learn about what is going on around your area
                </p>
            </div>
            <div class="card">
                <img src="./img/undraw_online_connection_6778.svg" alt="" />
                <h4>Share</h4>
                <p>
                    Share with others what is happening around you
                </p>
            </div>
            <div class="card">
                <img src="./img/undraw_Map_light_3hjy.svg" alt="" />
                <h4>Explore</h4>
                <p>
                    Explore the world by reading what others are saying
                </p>
            </div>
        </div>

        <div class="text-container">
            <h2>Stay Updated</h2>
            <h3>See what others around you are talking about</h3>
            <div class="icon-container">
                <div class="icon">
                    <img src="./img/undraw_trends_a5mf.svg" alt="" />
                    <h4>Trends</h4>
                </div>
                <div class="icon">
                    <img src="./img/undraw_exciting_news_ksse.svg" alt="" />
                    <h4>News</h4>
                </div>
                <div class="icon">
                    <img
                        src="./img/undraw_social_interaction_cy9i.svg"
                        alt=""
                    />
                    <h4>Social</h4>
                </div>
                <div class="icon">
                    <img src="./img/undraw_Notify_re_65on.svg" alt="" />
                    <h4>Alerts</h4>
                </div>
            </div>
        </div>

        <div class="purpose-container">
            <h2>Purpose</h2>
            <p class="purpose-text">
                Privacy is a priority. We want people to be able to share their
                experiences with others while being able to remain anonymous and
                protect their identity. Each post that is placed on the map will
                only show the nearest city that it originated from.
            </p>
            <a class="purpose-link" href="/learn-more">Learn more &rarr;</a>
        </div>

        <div class="join-container">
            <h2>Join Us</h2>
            <a href="/map/post" class="create-post">Create Post</a>
        </div>
    </body>
</html>
