<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/style.css" />
        <title>Home</title>
    </head>
    <body>
        <%- include('_nav_bar') %>
        <div class="body-container">
            <h2>Explore the World</h2>
            <h3>Update or check out moments around the world</h3>
            <div class="button-container">
                <a href="/map" class="view-map">View Map</a>
                <a href="/create-post" class="create-post">Create Post</a>
            </div>
        </div>

        <div class="info-container">
            <div class="card">
                <img src="./img/undraw_blog_anyj.svg" alt="" />
                <h4>Learn</h4>
                <p>
                    Learn about what is going on around your area
                </p>
            </div>
            <div class="card">
                <img src="./img/undraw_sharing_articles_t5aa.svg" alt="" />
                <h4>Share</h4>
                <p>
                    Share with others what is happening around you
                </p>
            </div>
            <div class="card">
                <img src="./img/undraw_connected_world_wuay.svg" alt="" />
                <h4>Explore</h4>
                <p>
                    Explore the world by reading what others are saying
                </p>
            </div>
        </div>
        <div class="text-container">
            <h2>Stay Updated</h2>
            <h3>See what others are talking about around you</h3>
        </div>
    </body>
</html>
