<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" href="./img/digital-marketing.png" />
    <title>Learn</title>
</head>

<body>
    <%- include('_nav_bar') %>
        <div class="purpose-container learn">
            <h2>Learn More</h2>
            <p class="purpose-text learn">
                OurMoment was created in order to let people from around the world to share what is on their mind. Each
                person's anonymity is preserved on this platform as names are not connected to any posts.
            </p>
        </div>
        <div class="contact-container">
            <h2>Contact Us</h2>
            <p class="contact-text">
                Feel free to send us an email if you have any questions or
                concerns
            </p>
        </div>
</body>

</html>