<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/style.css" />
        <title>Learn</title>
    </head>
    <body>
        <%- include('_nav_bar') %>
        <div class="purpose-container learn">
            <h2>Learn More</h2>
            <p class="purpose-text learn">
                OurMoment is a platform that allows indiviudals to posts their
                thoughts, experiences, or news to our publicly viewable map.
                Each marker on the map shows the city that each message was
                originated from. This was chosen to let others see the messages
                that are going on around them, while still being able to keep
                their privacy
            </p>
        </div>
        <div class="contact-container">
            <h2>Contact Us</h2>
            <p class="contact-text">
                Feel free to send us an email if you have any questions or
                concerns
            </p>
        </div>
    </body>
</html>
