<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="./img/digital-marketing.png" />
    <title>Post</title>
</head>

<body>
    <%- include('_nav_bar') %>
        <div class="container">
            <form action="/forum" method="POST">
                <%- include('_form_fields') %>
            </form>
        </div>
</body>

</html>